<% include partials/header.ejs %>

<div class="header">
    <h1>Programming Languages</h1>
    <img class="support" style="height:477px; width:848px;" src="img/python_logo.jpg" alt="Programming Languages">
</div>

<!-- The flexible grid (content) -->
<div class="row">
    <div class="main" style="text-align:center;">
        <h2>Python is an interpreted, high level, general-purpose programming language created by Guido van Rossum in 1991.</h2>
        <h3>Python emphasizes code readability with its notable use of significant whitespace. Constructs an OOP approach to help
        programmers write clear, logical code for small and large-scale projects.</h3>
        <h3>Features:</h3>
        <ul style="text-align:left;">
            <li>Easy to learn and use: developer friendly and high leveled</li><br>
            <li>Expressive: more understandable and readable</li><br>
            <li>Interpreted language: Reads line by line at a time making debugging more simple.</li><br>
            <li>Cross-platform language (Portable): runs on MacOS, Windows, Linux, etc.</li><br>
            <li>OOP Language: supports object oriented language and concepts of classes and objects come into existence</li><br>
            <li>Extensible: implies other languages can be used to compile the code</li><br>
            <li>Large standard library: provides rich set of module and functions for app development</li><br>
            <li>Integrated: can be easily integrated with languages like C, C++, Java, etc.</li><br>
        </ul>
        <button class="button" onclick="location.href='https://www.python.org/about/gettingstarted/'" type="button">Start Learning Swift!</button>
    </div>
    <div class="side">
        <div class="polaroid">
            <a href="/">
                <img src="img/programming_languages.jpg" alt="Home" style="width:100%">
            </a>
            <div class="container">
                <p>Home</p>
            </div>
        </div>

        <div class="polaroid">
            <a href="cpp.html">
                <img src="img/c++.png" alt="C++" style="width:100%">
            </a>
            <div class="container">
                <p>C++</p>
            </div>
        </div>

        <div class="polaroid">
            <a href="swift.html">
                <img src="img/swift.jpg" alt="Swift" style="width:100%">
            </a>
            <div class="container">
                <p>Swift</p>
            </div>
        </div>
    </div>
</div>

    <div class="footer">
        <% include partials/footer %>
    </div>
</body>
</html>